In [47]:
print("Hello world!")
#print untuk output

Hello world!

In [49]:
a=6
#definisi variabel

In [50]:
a

6

In [4]:
x="Teknologi Informasi"

In [51]:
print(x)
#print variabel

Teknologi Informasi

In [52]:
type(4)
#untuk mengetahui type data

int

In [7]:
type(5.6)

float

In [8]:
type("TRUE")

str

In [9]:
type(x)

str

In [10]:
int(true)

NameError: name 'true' is not defined

In [53]:
int(True)
#nilai boolean

1

In [12]:
int(False)

0

In [55]:
40+50-20
#operasi matematika

70

In [56]:
8**2
#pangkat

64

In [58]:
2*2
#perkalian

4

In [59]:
40*2/3
#pembagian dan hasil koma

26.666666666666668

In [64]:
40*2//3
#pembagian dan hasil dibulatkan

26

In [18]:
x

'Teknologi Informasi'

In [63]:
x[1]
#menentukan angkat variabel di 'Teknologi Informasi'

'e'

In [20]:
x[0]

'T'

In [66]:
x[0:8]
#membaca array pakai batas

'Teknolog'

In [22]:
x[0:9]

'Teknologi'

In [67]:
x[-2]
#menghitung mundur

's'

In [24]:
x[:9]

'Teknologi'

In [25]:
x[9:]

' Informasi'

In [69]:
len(x)
#menghitung panjang array

19

In [70]:
angkatan = '2017'
#menambah string dalam variabel

In [71]:
mahasiswa = x + " " + angkatan
#

In [33]:
print(mahasiswa)

Teknologi Informasi 2017

In [72]:
mahasiswa * 3
#looping 3 kali

'Teknologi Informasi 2017Teknologi Informasi 2017Teknologi Informasi 2017'

In [74]:
x.upper()
#huruf besar semua

'TEKNOLOGI INFORMASI'

In [77]:
x.lower()
#huruf kecil

'teknologi informasi'

In [79]:
x.replace('Teknologi', 'Sistem')
#mengganti kata

'Sistem Informasi'

In [39]:
y=x.replace('Teknologi', 'Sistem')

In [40]:
y

'Sistem Informasi'

In [41]:
x

'Teknologi Informasi'

In [46]:
x.find('nformasi')
#Nemuin array dalam string

11

In [82]:
nilai=(10,9,9,8,7,5,7)

In [83]:
type(nilai)

tuple

In [86]:
nilai=("Arsitektur Data", 9.8,7,6)

In [87]:
type(nilai)

tuple

In [88]:
nilai[0]

'Arsitektur Data'

In [89]:
nilai[:]

('Arsitektur Data', 9.8, 7, 6)

In [90]:
nilai[]

SyntaxError: invalid syntax (<ipython-input-90-d07e47f237fc>, line 1)

In [106]:
nilai2 = nilai + (70,80)

In [107]:
print(nilai2)

('Arsitektur Data', 9.8, 7, 6, 70, 80)

In [108]:
nilai2 = nilai2[1:6]

In [109]:
nilai2

(9.8, 7, 6, 70, 80)

In [110]:
len(nilai2)
#panjang tupel

5

In [112]:
sorted(nilai2)
#mengurutkan angkat dari yang terendah

[6, 7, 9.8, 70, 80]

In [115]:
nilai_matkul=("Arsitektur Data",(70,80,90),"Desain",(8,7,6))

In [133]:
len(nilai_matkul)
#menghitung ("Arsitektur Data",(70,80,90),"Desain",(8,7,6))

4

In [134]:
nilai_matkul[1][0]
#[1]=array yg di (70,80,90) / [0]=array yg di awal (70)

70

In [128]:
uts = nilai_matkul[3][2]

In [129]:
uts

6

In [130]:
uas = nilai_matkul[1][0]

In [131]:
uas

70

In [135]:
list1=['java','python','c++']

In [137]:
type(list1)

list

In [144]:
list1

['java', 'python', 'c++']

In [145]:
list1[1:]

['python', 'c++']

In [148]:
list1.extend(['ruby','sql'])

In [149]:
list1

['java', 'python', 'c++', 'ruby', 'sql', 'ruby', 'sql', 'ruby', 'sql']

In [152]:
set1={9,8,7,6,5,9,7}
#outputny hanya keluar satu angka tidak double

In [153]:
set1

{5, 6, 7, 8, 9}